@{
        ViewBag.Title = "Index";
    }





    <main class="grid-container">

        <div class="tile">
            <img src="~/Content/LL4.png" alt="Icon">
            <p>Apply for Learner Licence</p>
        </div>
        <div class="tile">
            <img src="~/Content/driving-icon.png" alt="Icon">
            <p>Apply for Driving Licence</p>
        </div>
        <div class="tile">
            <img src="~/Content/renewal-icon.png" alt="Icon">
            <p>Apply for DL Renewal</p>
        </div>


        <div class="tile">
            <img src="~/Content/NCL1.png" alt="Icon">
            <p>Apply for Duplicate DL</p>
        </div>
        <div class="tile">
            <img src="~/Content/print.png" alt="Icon">
            <p>Print DL Copy</p>
        </div>
        <div class="tile">
            <img src="~/Content/upload-icon.png" alt="Icon">
            <p>Apply for Update DL</p>
        </div>

        <!-- Add more tiles based on the screenshot -->
    </main>

